
.container{
	width: 30vw;
	margin: 0 auto;
}

.background{
	background-color: darkgray;
	border-radius: 10px;
	padding: 0.5vw;
}

.window > span{
	font-size: 1.5vw;
}

*{
	user-select: none;

}

.input{
	margin: 1vw;
	margin-left: 10vw;
	padding: 0.5vw;
	width: 60%;

	background-color: black;
	text-align: right;
	font-size: 2vw;
	color: white;
}

.buttons{
	margin: 1vw;
	padding: 0.5vw;
	background-color: #1A3246;
}

.button{
	width: 5vw;
	margin: 0.4vw;
	border-radius: 5px;
	color: white;
	border-color: gray;
	height: 5vw;
}

.button > h2{
	font-size: 1.5vw;
}

#del{
	background-color: cyan;
	width: 11vw;
}

#null{
	background-color: #1c2629;
	width: 11vw;
}

#sign{
	background-color: #1c2629;
}

#number{
	background-color: #1c2629;
}