#main{ 
	background-color: #27ae60;
	margin: 0;
	padding: 10;
}

#main span{
	color: white;
}

.container{
	background-color: #F5F5F5;
	padding: 10px;
	width: 100%;
}

#card {
	background-color: #DCDCDC;
}

#card:hover{
	background-color: #bdc3c7;
}

#no {
	padding: 10px;
}

html {
  font-size: 1rem;
}

.btn{
	background-color: #27ae60;
	color: white;
}
