#post {
  background-color: #ecf0f1;
  color: black;
}

.circle {
  background-color: #2980b9;
  float:left;
}

.circle.c-1 {
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
}

.circle.c-2 {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

html body {
  background-color: white;
  color: black;
}

.navbar {
  background-color: #227093;
  color: #bdc3c7;
}

.navbar a {
  color: white;
}

.menu{
  background-color: #bdc3c7;
}

.menu ul li{
  background: none;
  border: none;
}

.menu a{
  color: white;
}

.menu li:hover{
  background-color: #34495e;
}

.menu a:hover{
  color: white;
}

.postImage {
  height: 30vw;
  margin-bottom: 5px;
  margin-top: 5px;
}

a.disliked {
  color: #4a69bd;
}

a.liked {
  color: #eb2f06;
}

.sphereItem {
  margin-left: 10px;
  padding: 2px;
  border-radius: 15px;
  background-color: #2980b9;
  text-align: center;
  flex: auto;
}

.sphereItem > a {
  color: white;
}

.sphereMenu {
  flex: auto;
}
