*{
	user-select: none;
}

.container{
	width: 30vw;
	margin: 0 auto;
}

.background{
	background-color: darkgray;
	border-radius: 10px;
	padding: 0.5vw;
}

.window > span{
	font-size: 1.5vw;
}

.input{
	margin: 1vw;
	padding: 0.5vw;
	width: 90%;

	background-color: black;
	text-align: right;
	font-size: 1.5vw;
	color: white;

	overflow-x: hidden;
}

.buttons{
	margin: 1vw;
	padding: 0.5vw;
	background-color: #1A3246;
}

.button{
	width: 5vw;
	margin: 0.4vw;
	border-radius: 5px;
	color: white;
	border-color: gray;
	height: 5vw;
}

.button > h2{
	font-size: 1.5vw;
}

#del{
	background-color: #5a1700;
}

#null{
	background-color: #061011;
	width: 11vw;
}

#sign{
	background-color: #0d4700;
}

#number{
	background-color: #061011;
}